@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

header{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    padding: 20px;
}

header img{
    max-width: 500px;
}

header nav{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: black;
}

.info {
    max-width: 388px;
}
