@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

header{
    display: flex;
    align-items: center;
    justify-content: space-around;   
    padding: 25px;
}

header img{
    max-width: 500px;
}

header nav{
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: #000000;
}

.info {
    max-width: 388px;
}
.primeiro {
    border-top: 1px solid #000000;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.primeiro img{
    max-width: 378px;
    padding-top: 50px;
}
